<div class="flex flex-column gap-4">
  <h1 class="heading">Edit Employee</h1>

  <%= render "form", department: @department, employee: @employee, departments: @departments, employees: @employees %>

  <%= link_to "Back", department_path(@department), class: "button button--subtle" %>

</div>
