<div class="flex flex-column gap-4">
  <h1 class="heading">New department</h1>

  <%= render "form", { department: @department } %>

  <%= link_to "Back", departments_path, class: "button button--subtle" %>

</div>

