<div id="<%= dom_id feedback %>">
  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= feedback.employee_id %>
  </p>

  <p>
    <strong>Feedbackable:</strong>
    <%= feedback.feedbackable_id %>
  </p>

</div>
